.left-container{
    float: left;
    width: 30%;
    height: 10%;
    margin: 0px;
    position: fixed;
}

.right-container{
    float: right;
    width: 70%;
    height: 100%;
    padding: 0;
    position:sticky;
    
}

.right-container .container{
    width: 100%;
    height: 100%;
}
.left-container .container{
    width: 100%;
    height: 100%;
}